html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
body {
  font-family: "Nunito", sans-serif;
  background: url(./assets/42622.jpg) no-repeat fixed center center/cover;
}
